
.idea/

bin/
obj/
res/
vtk/

topo/solver
topo/runs

projects/
libs/
tests_decks/
cmake-build-debug/
cmake-build-release/

*.pyc
*.exe
*.inp
*.out
*.res
*.aux
*.log
*.vtk

.DS_Store
